@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');;

:root {
  --primary-color: #001219;
  --background-color: #e9d8a6;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
}
